



* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(back.png); */
    background-size: cover;
   
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;


}

nav {
    /* text-align: center; */
    /* margin: 20px 0px; */
    padding: 10px;
    /* text-transform: uppercase; */
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: rgb(77, 76, 76);

    /* text-decoration: underline; */

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    box-shadow: 2px 8px 12px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 20px 0px 2px 700px;
    padding: 2px;
    align-items: center;
    justify-content: center;

}

nav>img {
    margin: 0px 0px 0px 60px;

}

ul>li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li a {
    display: flex;
    /* height: 10px; */
    width: 120px;
    justify-content: center;

}

ul>li a:hover {
    /* color: rgb(255, 0, 0); */
    /* background-color: red; */
    transition: ease-in-out;
    transition-duration: 0.2s;
    transform-origin: left;
    transition-property: all;
    transform: scale(1.04);
    /* border-bottom: 2px solid black; */
    text-decoration: underline;



    font-weight: bold;

}

.logoutBtn {
    margin: -2px 2px;
    width: 70px;
    height: 30px;
    color: white;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.logoutBtn:hover {
    background-color: rgb(231, 84, 84);
}

.successIcon{
    width: 300px;
    height: 40px;
    /* border: 2px solid black; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(207, 207, 207, 0.553);
    position:absolute;
    /* top: 10px;
    right: 20px; */
    top: 4%;
    left: 80%;
    animation: slideInRight 5s forwards;
}

@keyframes slideInRight {
    0% { right: -300px; }
    100% { right: 0; }
  }
.fa{
    font-size: 24px;
    color: green;
    position: relative;
    margin: 0px 7px 0px 0px;
}
.stext{
    font-size: 16px;
    font-family: Arial, Helvetica, 
    sans-serif;
    font-weight: bold;
}


.container {
    max-width: 600px;
    /* height: 180vh; */
    margin: 50px auto;
    /* padding: 20px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0 0 12px 6px rgba(0, 0, 0, 0.1);
}

.container h2 {
    padding: 10px;
    text-align: center;
    background-color: rgb(2, 128, 255);
    background-color: rgb(255, 2, 2);

    /* border-bottom: 2px solid black; */
    border-radius: 5px;
    color: #ffffff;
}

.section {
    margin-bottom: 20px;
}

h3 {
    margin: 30px 20px 10px;
    color: #666;
}

.inputClass {
    /* width: 60px; */
    /* display: inline-block; */
    font-size: 18px;
    margin: 10px 20px;
    /* background-color: red; */

}

input {
    font-size: 18px;
    /* Adjust the font size as needed */
}

select {
    font-size: 18px;
    /* Adjust the font size as needed */
}

label {
    /* Align labels to the end of the grid cell */
    width: 200px;
    display: inline-block;



}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
.inputClass button {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* border: none; */
    /* border-bottom: solid black 2px; */
}



input[type="number"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus {
    outline: none;
    border-color: #007bff;
}

 button {
    font-size: 20px;
    width: 300px;
    background-color: #11d000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    /* top: 90%; */
    left: 25%;
}

button:hover {
    background-color:  #0d7204;
}

.condition :first-child{
     font-size: 14px;
     color: red;
     margin: 60px 20px 5px;

}

.condition :last-child{
    font-size: 14px;
    color: red;
    margin: 0px 20px 0px;

}

@media screen and (max-width: 768px) {

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    select,
    button {
        width: 100%;
    }
}


.section {
    margin-bottom: 20px;
}

.form {
    margin-bottom: 50px;
}


/* Error and Success Styles */
/* Error state styles */
.inputClass.error input {
    border: 2px solid #f00;
}

.inputClass.error .fa {
    color: #f00;
}

.inputClass.error span {
    color: #f00;
    font-size: 14px;
    margin: 2px 0 0 205px;
    display: inline-block;
    /* Ensure the error message is displayed */
}

/* Success state styles */
.inputClass.success input {
    border: 2px solid #0b0;
}

.inputClass.success .fa {
    color: #0b0;
}

.inputClass.success span {
    display: none;
}

#alertModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 27%;
    border-radius: 5px;
    color: black;
    box-shadow:0px 0px 5px 0.5px;



}

.close {
    color: rgb(0, 0, 0) !important;
    float: right;
    position: relative;
    bottom: 80px;
    left: 12px;
    font-size: 38px;
    font-weight: bold;


}

.close:hover,
.close:focus {
    color: rgb(74, 74, 74);
    text-decoration: none;
    cursor: pointer;

}

/* Additional styles for the icon */
#alertModal .fa {

    color: #ff0000;
    font-size: 50px;
    display: block;
    position: relative;

    left: 44%;

}

.alerttext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: red;
    position: relative;
    left: 40%;


}

#alertMessage {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #333;
   

}
#popup{
    display: none;
    position: fixed;
    /* z-index: 1; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    display: none;
    /* position: fixed; */
    z-index: 2;
    position: absolute;
    left: 35%;
    top: 30%;
    width: 400px;
    /* overflow: auto; */
    background-color: rgb(255, 255, 255);
    /* transform: translate(-50%, -50%) ; */
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    /* display: none; */
    transition: transform 0.4s, top 0.4s;


}
.close-popup{
   display: none;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0px 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}